.container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  flex: 1;

  main {
    background-color: #f2f2fa;
    display: flex;
    align-items: center;
    justify-content: space-around;

    flex: 1;

    .containerForm {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h1 {
        align-self: flex-start;
        font-weight: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 970px) {
  .container {
    main {
      flex-direction: column;
      justify-content: flex-start;

      section {
        margin-top: 2rem;
        img {
          max-width: 400px;
        }
      }
    }
  }
}
